@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  body {
    padding-top: 60px;
  }
}

ul, li {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 900px) {
  .section {
    padding: 94px 0;
  }
}

.newsletter__button {
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #2196F3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EEEEEE;
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
  top: 0;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .header {
    position: relative;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

@media screen and (min-width: 767px) {
  .header__nav {
    padding: 0;
  }
}

@media screen and (min-width: 1600px) {
  .header__nav {
    margin-left: 200px;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__list {
    margin-left: 93px;
  }
}

.header__logo, .footer__logo {
  color: #2196F3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .header__logo, .footer__logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.header__logo-black {
  color: #212121;
}

.header__link {
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:focus, .header__link:active, .header__link:hover {
  color: #2196F3;
}

.header__item + .header__item {
  margin-left: 50px;
}

.header__link--border {
  color: #2196F3;
  position: relative;
}

.header__link--border::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -3px;
  height: 4px;
  width: 100%;
  background-color: #2196F3;
  border-radius: 2px;
}

/* contact */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 768px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    font-size: 12px;
    line-height: 14px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1600px) {
  .contact {
    margin-right: 200px;
  }
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__info:focus, .contact__info:hover {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .contact__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item {
    margin-left: 30px;
  }
}

/* icon-svg */
.contact__icon {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

.contact__icon:hover {
  color: currentColor;
}

.mobail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: start;
  -webkit-transform: translateX(200vw);
          transform: translateX(200vw);
  background-color: #ffffff;
  padding: 48px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobail-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 767px) {
  .mobail-container .header__logo, .mobail-container .footer__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 767px) {
  .mobail-container {
    display: none;
  }
}

.mobail-menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.mobail-menu__link--active {
  color: #2196F3;
}

.mobail-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobail-menu__item:nth-child(3) {
  margin-bottom: 302px;
}

.mobail-menu__contact__item {
  margin-bottom: 32px;
}

.mobail-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.mobail-menu__mail {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #757575;
}

.mobail-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.mobail-menu__social-item {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobail-menu__social-item + .mobail-menu__social-item {
  margin-left: 20px;
}

.mobail-menu__social-link {
  text-decoration: none;
  color: #2196F3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.menu-button {
  display: inline-block;
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 44;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 999;
  margin-right: 15px;
}

@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

.menu-button .menu-button__open {
  display: none;
}

.menu-button.is-open .menu-button__open {
  display: block;
}

.menu-button.is-open .menu-button__close {
  display: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 56px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}

@media screen and (max-width: 767px) {
  .navigation__item-padding {
    margin-top: 15px;
  }
}

.navigation__button {
  border-radius: 4px;
  padding: 6px 22px;
  border: #F5F4FA;
  background: #F5F4FA;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.navigation__button:focus, .navigation__button:active, .navigation__button:hover {
  background-color: #2196F3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* BUTTON END */
/* НАШИ РАБОТЫ  */
.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: -15px;
}

.works__name a {
  text-decoration: none;
}

.works__name > h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.works__name > p {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.works__name {
  padding: 20px 24px;
  text-align: start;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.works__link {
  display: block;
  text-decoration: none;
}

.works__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__item {
  margin-bottom: 30px;
  margin-right: 30px;
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  background-color: #ffffff;
}

/* position */
.works__img {
  position: relative;
  overflow: hidden;
  display: block;
}

.works__site {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 63px 27px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.556;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__link:hover .works__site {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.back-footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

.footer__logo {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
}

.footer__logo .footer__logo-white {
  color: #ffffff;
}

.footer__address {
  color: #F5F4FA;
  font-style: normal;
}

.footer__address-bottom {
  margin-bottom: 9px;
}

.footer__contact {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.footer-social {
  margin: 60px 0;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.footer-social__title {
  font-weight: 700;
  line-height: 1.142;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* icon-footer */
.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social__link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__item :hover.footer-social__link {
  background-color: #2196F3;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* newsletter */
.newsletter {
  margin-left: auto;
}

.newsletter__title {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 16px;
}

@media screen and (min-width: 768px) {
  .newsletter__title {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__title {
    margin: 0px;
  }
}

.newsletter__email {
  padding: 15px 16px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .newsletter__email {
    display: block;
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__email {
    display: inline-block;
    width: 358px;
    margin: 0 auto;
  }
}

.newsletter__email::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__email::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__email::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__button {
  position: relative;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
  margin-top: 20px;
}

.newsletter__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

@media screen and (min-width: 768px) {
  .footre-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=portfolio.css.map */