.feature__title{
        margin-bottom: 10px;
        
        color: $black-main;                  
        line-height: 1.42;
        font-size: 14px;
        text-transform: uppercase;

}
.feature__tumb{
    max-width: 450px;
    margin-bottom: 30px;
    height: 120px;
    margin-top: 30px;
   
}

.feature__item{

    @media screen and (min-width:480px){
        max-width: 450px;
    }
    @media screen and (min-width:768px){
        max-width: 354px;
    }
}
.feature__text{
    text-align: start;
}
.feature{
        display: flex; 
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        @media  screen and (min-width:768px) {
            flex-direction: row;
            justify-content: space-around;
            }
            @media screen and (min-width:768px)and (max-width:1199px) {
                max-width: 863px;
                margin-left: auto;
                margin-right: auto;   
            }
           
            
        
            }

@media screen and (min-width: 768px) {
    
    
    
    // .feature__item:nth-last-child(n+2){
    //    margin-right: 30px;      }
       .feature__item{text-align: left;
        @media screen and (min-width:1200px) {
            width: 270px;
            
        }
    
       }
    
        
        /* icon */
        .feature__tumb{
            display: flex;
            justify-content: center;
            align-items: center;
    
            // width: 270px;
           
            
            
            background-color: $team-color;
            }

}
