.header{display: flex;
    align-items: center;
    border-bottom: 1px solid $back-cards;
    position: fixed;
    z-index: 999;
    background-color: $white-main;
    top: 0;
    width: 100%;
    @media screen and (min-width:1200px){
        position: relative;
        
    }
    
}
.header__nav{
    display: flex;
    align-items: center;
    padding: 15px 0;
    @media screen and (min-width:767px) {
        padding: 0;
    }
    @media screen and (min-width:1600px) {
        margin-left: 200px;
    }
}


.header__list{
    display: flex;
    @media screen and (max-width:768px)
    {
        display: none;
    }
    @media screen and (min-width:768px) {
        display: flex;
        margin-left: 88px; 
    }
    @media screen and (min-width:1200px) {
        
      margin-left: 93px; 
      }
}

    .header__logo{color: $blue-main;
        display: inline-flex;
        
        
        text-decoration: none;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;  
        
        @media screen and (min-width:1200px) {
          font-size: 26px;
        line-height: 1.192;  
      
        }
         
      }
      .header__logo-black{color: $black-main;}

    .header__link {color:$black-main;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        cursor: pointer;  
        
        
        font-style: normal;
        font-weight: 500;           
        line-height: 1.142;
        letter-spacing: 0.02em;
        text-decoration: none;   
        
        transition: color 250ms $cubic;

        &:focus,
        &:active,            
        &:hover   
        {color: $blue-main;}
    
    }
    .header__item+.header__item{margin-left: 50px;}

    .header__link--border{
        color: $blue-main;
        position: relative;
        &::after{
            position: absolute;
        content: '';
        display: block;
        bottom: -3px;
        
        height: 4px;
        width: 100%;

        background-color: $blue-main;
        border-radius: 2px;
        }    }
     
        /* contact */
    .contact{     
        display: flex;      
        font-style: normal;
        font-weight: 500;
        line-height: 1.142;
        letter-spacing: 0.02em;
        
        @media screen and (max-width:768px)
        {
            display: none;
        }
        @media screen and (min-width:768px) {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            font-size: 12px;
            line-height: 14px;
            margin-right: 15px;
            
            
        }
        @media screen and (min-width:1200px) {
            font-size: 14px;
            line-height: 16px;
             
           flex-direction: row;
           align-items: baseline ; 
        }
        @media screen and (min-width:1600px) {
             margin-right: 200px;
         
         }
         }
        
        .contact__info{
            display: flex;
            align-items: center;
            
            color: $gray-main;
            text-decoration: none;     
            transition: color 250ms $cubic ;  
        
            &:focus,
            &:hover 
            {color: $blue-main;}           
            }
            @media  screen and (min-width:768px) {
                .contact__item{
                     margin-top: 10px;
                 }}

        @media  screen and (min-width:1200px) {
           .contact__item{
                margin-left: 30px;
            }
 
            
        }
            
        /* icon-svg */
        .contact__icon {

            margin-right: 8px;
            fill: currentColor;
            @media screen and(min-width:1200px) {
            margin-right: 10px;    
            }
            &:hover{color: currentColor ;   }
            }
                    