// .hero{
//     // max-width: 480px;
//     margin: 0 auto;
//     background-position: center;
    
//     padding-top: 200px;
//     padding-bottom: 200px;
//     background-color:$logo-footer;   
    
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
//     rgba(47, 48, 58, 0.4)),
//     url('../../images/header/mob.jpg');
//     background-size:cover;
//     background-repeat: no-repeat;



//       display: block;
//       max-width: 100%;

//   @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
 
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
//     rgba(47, 48, 58, 0.4)), url('../../images/header/mob@2x.jpg');
//   }

//     @media  screen and (min-width:768px) {
//       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)), url('../../images/header/tablet.jpg');

//       @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
 
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
//     rgba(47, 48, 58, 0.4)), url('../../images/header/tablet@2x.jpg');
//   }
//     }
//     @media  screen and (min-width:1200px) {
//       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)), url('../../images/header/hero.jpg');

//       @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
 
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
//     rgba(47, 48, 58, 0.4)), url('../../images/header/hero@2x.jpg');
//   }
     
// }

// }
.hero__text{

color: $white-main;
max-width: 360px;
margin-left: auto;
margin-right: auto;    

font-weight: 900;
font-size: 26px;
line-height: 1.36;


letter-spacing: 0.06em;
text-transform: uppercase; 
@media screen and ( min-width:900px) {
  max-width: 696px;
  font-size: 44px;
}   

}

.button__hero{
    @extend %btn;
    margin-top: 30px;
    width: 200px;
    height: 50px;}


      